@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

/* header section   */
.navbar {
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 10px rgb(104, 104, 104);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: fixed;
  top: 0%;
  z-index: 999;
}

.navbar>.col {
  display: flex;
}



.navbar>.col>i {
  margin-right: 20px;
}

#menu_bar {
  font-size: 25px;
  display: none;
}

.navbar>.col>.logo>a>i {
  color: green;
  font-size: 25px;
}

.navbar>.col>.logo>a>span {
  color: black;
}


/* search  */

.navbar>.col>form>input {
  width: 400px;
  height: 40px;
  padding: 0px 15px;
  border-right: none;
  outline: none;
}

.navbar>.col>form>button {
  width: 50px;
  height: 40px;
  border-left: none;
  background-color: white;
  margin-left: -4px;
}


/* download and fav  */
.navbar>.col>button {
  width: 35px;
  border: none;
  font-size: 25px;
  margin-left: 10px;
  color: royalblue;
  background-color: transparent;
  display: none;
}

.navbar>.col>a {
  color: black;
  margin-left: 10px;
  width: 40px;
}

.navbar>.col>a>i {
  border: 2px solid black;
  padding: 7px;
  border-radius: 50%;
}


/* hover effects  */
.navbar>.col>a>i:hover {
  background-color: royalblue;
  color: white;
  border: white;
  transition: 1s;
}


/* mobile section  */

.mobile_search {
  width: 100%;
  height: 70px;
  padding: 0px 20px;
  position: absolute;
  top: -80px;
  right: 0%;
  z-index: 888;
  overflow: hidden;
  transition: 1s;

}

.mobile_search>form {
  display: flex;
  justify-content: center;
}


.mobile_search>form>input {
  width: 90%;
  height: 70px;
  padding: 0px 15px;
}

.mobile_search>form>button {
  width: 5%;
  height: 70px;
  background-color: royalblue;
  color: white;

}

/* main body  */
main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 70px;

}


/* menu section  */

main>aside {
  width: 100px;
  height: 840px;
  padding: 30px 2px;
  background-color: whitesmoke;
  box-shadow: 5px 0px 10px rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 0%;
  transition: 1s;
}

main>aside>.container>.col {
  padding: 5px;
  text-align: left;
  margin-top: 10px;

}

main>aside>.container>.col>a {
  font-size: 15px;
  color: rgb(141, 141, 141);
}


.active {
  border-left: 3px solid royalblue;
  background-color: white;
}

/* hover effects  */
main>aside>.container>.col:hover {
  border-left: 3px solid royalblue;
  background-color: white;
}





/* main content  */
.main_content {
  width: 95%;
  display: block;
  margin-left: 100px;
  transition: 1s;

}


.main_content>.hero_Section {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide>.content {
  width: 300px;
  position: absolute;
 
  left: 5%;
  text-align: left;
}


.swiper-slide>.content>h2 {

  color: white;
  font-size: 30px;
  font-weight: 600;
}


.swiper-slide>.content>p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}


.swiper-slide>.content>.link {
  margin-top: 20px;
}

.swiper-slide>.content>.link>a {
  color: white;
  background-color: royalblue;
  padding: 10px 40px;

}


/* cards  */

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

}


.cards>.top_bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}


.cards>.top_bar>h3 {
  color: rgb(138, 138, 138);
  font-size: 15px;
  font-weight: 600;
}

.cards>.top_bar>a {
  color: royalblue;
}


.cards>.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards>.container>.col {
  width: 250px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  transition: border-color 0.3 ease;
  margin: 30px;
}

.cards>.container>.col>.img {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
}

.cards>.container>.col>.img>img {
  width: 100%;
  height: 100%;
}

.cards>.container>.col>.content {
  padding: 10px;
}

.cards>.container>.col>.content>h4 {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

.cards>.container>.col>.content>h5 {
  color: #666;
  font-size: 15px;
}


/* games section  */
.banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;

}

.banner>img {
  width: 100%;
  height: 100%;
}

.banner>.content {
  width: 500px;
  position: absolute;
  left: 5%;
  top: 30%;
  text-align: left;
}


.banner>.content>h2 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.banner>.content>p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;

}

.banner>.content>form {
  margin-top: 20px;
}

.banner>.content>form>input {
  width: 300px;
  height: 40px;
  padding: 0px 15px;
}

.banner>.content>form>button {
  width: 60px;
  height: 40px;
  background-color: royalblue;
  color: white;
}

/* footer section  */


footer {
  width: 100%;
  height: 200px;
  background-color: royalblue;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer>.col {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer>.col>p {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}


footer>.col>.link>a {
  font-size: 30px;
  color: white;
  margin: 10px;
}



@media only screen and (max-width :1000px){
.navbar {
    padding: 0px 50px;
  }
}
  

@media only screen and (max-width :800px){
.navbar > .col > form{
  display: none;
}

.navbar > .col >button{
  display: block;
}



#menu_bar {
  display: block;
}

main>aside{
  left: -100px;
}

.main_content {
  width: 100%;
  margin-left: 0px;
}
  }
    